body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";line-height: 1.625;
}

main {
  margin-inline: auto;
  width: 67rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: #0000cd;
}

main * + * {
  margin-top: 1rem;
}

/* SVG adjustments */
g.yAxis .tick:last-of-type text {
  font-weight: bold;
}

line.yGridLine {
  transform: translateX(-0.5rem);
}

#d3-chart-header span {
  color: #727272;
  display: block;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1.25;
}

